In [1]:
import sys
import os

# Add parent directory (../) to Python's search path
sys.path.append(os.path.abspath(".."))

In [2]:
import numpy as np
import pandas as pd

DATA IMPORT

In [3]:
raw_data = pd.read_excel('/workspaces/GEN-AI-DATA-ANALYST/data/e_commerce.xlsx')

In [4]:
raw_data.head()

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,122001,IN,False

In [5]:
def scalable_data_profiler(df, sample_size=10000, top_n=5):
    print("üìä BASIC INFO")
    print(f"- Shape: {df.shape}")
    print(f"- Columns: {list(df.columns[:10])}...")  # show only first 10
    print(f"- Memory Usage: ~{df.memory_usage(deep=False).sum() / 1024**2:.2f} MB\n")

    print("üîç MISSING VALUES (%):")
    missing = df.isnull().mean() * 100
    print(missing[missing > 0].sort_values(ascending=False).head(10), "\n")

    print("üßÆ UNIQUE VALUES (Top 10 Columns):")
    unique_counts = df.nunique().sort_values(ascending=False).head(10)
    print(unique_counts, "\n")

    print("üìà NUMERICAL STATS (Sampled if > sample_size):")
    df_sample = df.sample(sample_size) if len(df) > sample_size else df
    print(df_sample.describe(include=[np.number]).T, "\n")

    print("üóÇÔ∏è CATEGORICAL PREVIEW:")
    cat_cols = df.select_dtypes(include=['object', 'category']).columns
    for col in cat_cols[:10]:  # process only first 10 for speed
        print(f"\nüîπ Column: {col}")
        print(f" - Unique: {df[col].nunique()}")
        print(f" - Top {top_n}:\n{df[col].astype(str).value_counts(dropna=False).head(top_n)}")

    print("\nüìä CORRELATION MATRIX (Top Pairs Only):")
    num_cols = df.select_dtypes(include=np.number)
    if num_cols.shape[1] >= 2:
        corr = num_cols.corr().abs().unstack().sort_values(ascending=False)
        corr = corr[corr < 1.0].drop_duplicates().head(10)
        print(corr)
    else:
        print(" - Not enough numerical columns for correlation.")

In [6]:
scalable_data_profiler(raw_data)

üìä BASIC INFO
- Shape: (31047, 18)
- Columns: ['index', 'Order ID', 'Cust ID', 'Gender', 'Age', 'Date', 'Status', 'Channel ', 'SKU', 'Category']...
- Memory Usage: ~4.06 MB

üîç MISSING VALUES (%):
Series([], dtype: float64)

üßÆ UNIQUE VALUES (Top 10 Columns):
index               31047
Order ID            28471
Cust ID             28437
SKU                  5287
ship-postal-code     4958
ship-city            2603
Amount                769
Age                    61
Date                   36
Size                   11
dtype: int64

üìà NUMERICAL STATS (Sampled if > sample_size):
                    count          mean           std       min        25%  \
index             10000.0  1.561583e+04  8.943429e+03       8.0     7976.0
Cust ID           10000.0  4.982874e+06  2.888898e+06    1579.0  2495586.0
Age               10000.0  3.953520e+01  1.510337e+01      18.0       28.0
Amount            10000.0  6.868510e+02  2.714675e+02     229.0      487.0
ship-postal-code  10000.0  4.596612e+05  1.999729e+05  110001.0   302021.0

                        50%         75%        max
index               15695.5    23352.75    31046.0
Cust ID           4984272.5  7485187.75  9998007.0
Age                    37.0       47.00       78.0
Amount                653.0      799.00     3036.0
ship-postal-code   500028.0   600039.25   855117.0

üóÇÔ∏è CATEGORICAL PREVIEW:

üîπ Column: Order ID
 - Unique: 28471
 - Top 5:
Order ID
403-4984515-8861958    12
403-0173977-3041148    11
404-3701762-8241125     9
402-2997706-3326710     8
403-9984530-4477124     7
Name: count, dtype: int64

üîπ Column: Gender
 - Unique: 4
 - Top 5:
Gender
Women    21479
Men       9452
W           74
M           42
Name: count, dtype: int64

üîπ Column: Status
 - Unique: 4
 - Top 5:
Status
Delivered    28641
Returned      1045
Cancelled      844
Refunded       517
Name: count, dtype: int64

üîπ Column: Channel
 - Unique: 7
 - Top 5:
Channel
Amazon      11016
Myntra       7254
Flipkart     6703
Ajio         1931
Nalli        1484
Name: count, dtype: int64

üîπ Column: SKU
 - Unique: 5287
 - Top 5:
SKU
JNE3797-KR-L      273
JNE3797-KR-M      232
JNE3797-KR-S      169
JNE3797-KR-XXL    150
JNE3797-KR-XL     149
Name: count, dtype: int64

üîπ Column: Category
 - Unique: 8
 - Top 5:
Category
Set              12391
kurta            10446
Western Dress     4066
Top               2193
Saree             1380
Name: count, dtype: int64

üîπ Column: Size
 - Unique: 11
 - Top 5:
Size
M      5485
L      5144
XL     4437
S      4176
XXL    4065
Name: count, dtype: int64

üîπ Column: Qty
 - Unique: 7
 - Top 5:
Qty
1      30878
2        114
3         19
Two       16
One       13
Name: count, dtype: int64

üîπ Column: currency
 - Unique: 1
 - Top 5:
currency
INR    31047
Name: count, dtype: int64

üîπ Column: ship-city
 - Unique: 2603
 - Top 5:
ship-city
BENGALURU    2540
HYDERABAD    1785
NEW DELHI    1560
CHENNAI      1272
MUMBAI       1224
Name: count, dtype: int64

üìä CORRELATION MATRIX (Top Pairs Only):
ship-postal-code  Amount              0.053002
Amount            index               0.018988
ship-postal-code  index               0.007707
                  Cust ID             0.005703
index             Cust ID             0.004680
Amount            Age                 0.003522
index             Age                 0.002517
Age               ship-postal-code    0.001582
                  Cust ID             0.001286
Cust ID           Amount              0.000691
dtype: float64

2.0 DATA PREPROCESSING

In [7]:
from genai_dataanalyst.assistant import AnalystAssistant
assistant = AnalystAssistant()

2.1 Solves Categorical Problem

If You standardized the Gender column to ensure it contains only 'Men' or 'Women' by replacing abbreviations: 'W' was changed to 'Women' and 'M' to 'Men'. This makes gender data clean and consistent for analysis.

In [8]:
new_data = assistant.clean(raw_data, prompt="Standardize the 'Gender' column so that it only contains 'Men' or 'Women'. Replace 'W' with 'Women' and 'M' with 'Men'.")

[INFO] [CLEAN] Prompt: Standardize the 'Gender' column so that it only contains 'Men' or 'Women'. Replace 'W' with 'Women' and 'M' with 'Men'.
[DEBUG] [CLEAN] Generated Code:
 df['Gender'] = df['Gender'].replace({'W': 'Women', 'M': 'Men'})

In [9]:
new_data['Gender'].unique() # New data

array(['Women', 'Men'], dtype=object)

In [10]:
raw_data['Gender'].unique()  # Old data

array(['Women', 'Men', 'W', 'M'], dtype=object)

If You cleaned the Qty column by converting text values like 'One' and 'Two' into their numeric forms 1 and 2, so the entire column now contains only numbers. This makes quantity data consistent and ready for calculations

In [11]:
new_data = assistant.clean(new_data, prompt="Standadize all textual quantity values in the Qty column (e.g., 'One', 'Two') to their numeric equivalents (e.g., 1, 2). Ensure the column is entirely numeric after conversion so datatype should be int ")

[INFO] [CLEAN] Prompt: Standadize all textual quantity values in the Qty column (e.g., 'One', 'Two') to their numeric equivalents (e.g., 1, 2). Ensure the column is entirely numeric after conversion so datatype should be int

[DEBUG] [CLEAN] Generated Code:
 qty_map = {'Zero': 0, 'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6, 'Seven': 7, 'Eight': 8, 'Nine': 9, 'Ten': 10}
df['Qty'] = df['Qty'].map(qty_map).fillna(0).astype(int)

In [12]:
new_data['Qty'].unique() # New data

array([0, 1, 2])

In [13]:
raw_data['Qty'].unique()  # Old data

array([1, 'One', 2, 4, 3, 'Two', 5], dtype=object)

In [14]:
new_data.dtypes

index                        int64
Order ID                    object
Cust ID                      int64
Gender                      object
Age                          int64
Date                datetime64[ns]
Status                      object
Channel                     object
SKU                         object
Category                    object
Size                        object
Qty                          int64
currency                    object
Amount                       int64
ship-city                   object
ship-postal-code             int64
ship-country                object
B2B                           bool
dtype: object

3.0 DATA TRANSFORMATION


3.1 Playing With Columns.

I can extract the month and year from the Date column to create two new columns: Order_Month and Order_Year. This makes it easier to analyze sales trends over time, like comparing orders across different months or years.

In [15]:
transformed_data = assistant.clean(new_data, prompt="From the Date column, extract the month and year into two new columns: Order_Month (as full month name) and Order_Year (as 4-digit year).Finally place both the newly created columns after Date column")

[INFO] [CLEAN] Prompt: From the Date column, extract the month and year into two new columns: Order_Month (as full month name) and Order_Year (as 4-digit year).Finally place both the newly created columns after Date column

[DEBUG] [CLEAN] Generated Code:
 df['Order_Month'] = pd.to_datetime(df['Date']).dt.strftime('%B')
df['Order_Year'] = pd.to_datetime(df['Date']).dt.year
cols = df.columns.tolist()
cols.insert(6, cols.pop(cols.index('Order_Month')))
cols.insert(6, cols.pop(cols.index('Order_Year')))
df = df.reindex(columns= cols)

In [16]:
transformed_data.head(3)

,index,Order ID,Cust ID,Gender,Age,Date,Order_Year,Order_Month,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,2022,December,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,0,INR,376,MOHALI,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,2022,December,Delivered,Ajio,SET414-KR-NP-L,Set,L,0,INR,1449,GURUGRAM,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,2022,December,Delivered,Myntra,SET261-KR-PP-S,Set,S,0,INR,453,KOLKATA,700029,IN,False


Suppose i want to create a new column called Age_Group that classifies each person based on their age: anyone under 20 is labeled a Teenager, those between 20 and 49 are labeled Adult, and those 50 or older are labeled Senior. This helps group customers into age based categories for better analysis.

In [17]:
transformed_data = assistant.clean(transformed_data, prompt="Create a new column of 'Age' column named 'Age_Group'.Place the 'Age_Group' column besides 'Age' column  based on the Age column: If Age < 20 ‚Üí Teenager , If Age ‚â• 20 and < 50 ‚Üí Adult , If Age ‚â• 50 ‚Üí Senior")

[INFO] [CLEAN] Prompt: Create a new column of 'Age' column named 'Age_Group'.Place the 'Age_Group' column besides 'Age' column  based on the Age column: If Age < 20 ‚Üí Teenager , If Age ‚â• 20 and < 50 ‚Üí Adult , If Age ‚â• 50 ‚Üí Senior
[DEBUG] [CLEAN] Generated Code:
 df['Age_Group'] = pd.cut(df['Age'], bins=[0, 20, 50, np.inf], labels=['Teenager', 'Adult', 'Senior'])
df = df[['index', 'Order ID', 'Cust ID', 'Gender', 'Age', 'Age_Group', 'Date', 'Order_Year', 'Order_Month', 'Status', 'Channel ', 'SKU', 'Category', 'Size', 'Qty', 'currency', 'Amount', 'ship-city', 'ship-postal-code', 'ship-country', 'B2B']]

In [18]:
transformed_data.head(3)

,index,Order ID,Cust ID,Gender,Age,Age_Group,Date,Order_Year,Order_Month,Status,...,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,Adult,2022-12-04,2022,December,Delivered,...,JNE1233-BLUE-KR-031-XXL,kurta,XXL,0,INR,376,MOHALI,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,Adult,2022-12-04,2022,December,Delivered,...,SET414-KR-NP-L,Set,L,0,INR,1449,GURUGRAM,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,Senior,2022-12-04,2022,December,Delivered,...,SET261-KR-PP-S,Set,S,0,INR,453,KOLKATA,700029,IN,False

In [19]:
transformed_data = assistant.clean(transformed_data, prompt="Drop the following columns from the dataset currency, ship-country, index")

[INFO] [CLEAN] Prompt: Drop the following columns from the dataset currency, ship-country, index
[DEBUG] [CLEAN] Generated Code:
 df.drop(['currency', 'ship-country', 'index'], axis=1, inplace=True)

In [20]:
transformed_data.head(2)

,Order ID,Cust ID,Gender,Age,Age_Group,Date,Order_Year,Order_Month,Status,Channel,SKU,Category,Size,Qty,Amount,ship-city,ship-postal-code,B2B
0,171-1029312-3038738,1029312,Women,44,Adult,2022-12-04,2022,December,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,0,376,MOHALI,140301,False
1,405-2183842-2225946,2183842,Women,29,Adult,2022-12-04,2022,December,Delivered,Ajio,SET414-KR-NP-L,Set,L,0,1449,GURUGRAM,122002,False

In [21]:
scalable_data_profiler(transformed_data)

üìä BASIC INFO
- Shape: (31047, 18)
- Columns: ['Order ID', 'Cust ID', 'Gender', 'Age', 'Age_Group', 'Date', 'Order_Year', 'Order_Month', 'Status', 'Channel ']...
- Memory Usage: ~3.73 MB

üîç MISSING VALUES (%):
Series([], dtype: float64)

üßÆ UNIQUE VALUES (Top 10 Columns):
Order ID            28471
Cust ID             28437
SKU                  5287
ship-postal-code     4958
ship-city            2603
Amount                769
Age                    61
Date                   36
Order_Month            12
Size                   11
dtype: int64

üìà NUMERICAL STATS (Sampled if > sample_size):
                    count          mean           std       min         25%  \
Cust ID           10000.0  4.948529e+06  2.909438e+06    1387.0  2410452.75
Age               10000.0  3.974820e+01  1.530353e+01      18.0       28.00
Order_Year        10000.0  2.022000e+03  0.000000e+00    2022.0     2022.00
Qty               10000.0  2.300000e-03  6.399312e-02       0.0        0.00
Amount            10000.0  6.821445e+02  2.670495e+02     229.0      484.00
ship-postal-code  10000.0  4.633591e+05  1.988754e+05  110001.0   314001.00

                        50%         75%        max
Cust ID           4953572.5  7491290.25  9999233.0
Age                    38.0       48.00       78.0
Order_Year           2022.0     2022.00     2022.0
Qty                     0.0        0.00        2.0
Amount                648.0      792.00     3036.0
ship-postal-code   500034.0   600061.25   855116.0

üóÇÔ∏è CATEGORICAL PREVIEW:

üîπ Column: Order ID
 - Unique: 28471
 - Top 5:
Order ID
403-4984515-8861958    12
403-0173977-3041148    11
404-3701762-8241125     9
402-2997706-3326710     8
403-9984530-4477124     7
Name: count, dtype: int64

üîπ Column: Gender
 - Unique: 2
 - Top 5:
Gender
Women    21553
Men       9494
Name: count, dtype: int64

üîπ Column: Age_Group
 - Unique: 3
 - Top 5:
Age_Group
Adult       22912
Senior       5909
Teenager     2226
Name: count, dtype: int64

üîπ Column: Order_Month
 - Unique: 12
 - Top 5:
Order_Month
March       2819
February    2750
January     2702
April       2685
May         2617
Name: count, dtype: int64

üîπ Column: Status
 - Unique: 4
 - Top 5:
Status
Delivered    28641
Returned      1045
Cancelled      844
Refunded       517
Name: count, dtype: int64

üîπ Column: Channel
 - Unique: 7
 - Top 5:
Channel
Amazon      11016
Myntra       7254
Flipkart     6703
Ajio         1931
Nalli        1484
Name: count, dtype: int64

üîπ Column: SKU
 - Unique: 5287
 - Top 5:
SKU
JNE3797-KR-L      273
JNE3797-KR-M      232
JNE3797-KR-S      169
JNE3797-KR-XXL    150
JNE3797-KR-XL     149
Name: count, dtype: int64

üîπ Column: Category
 - Unique: 8
 - Top 5:
Category
Set              12391
kurta            10446
Western Dress     4066
Top               2193
Saree             1380
Name: count, dtype: int64

üîπ Column: Size
 - Unique: 11
 - Top 5:
Size
M      5485
L      5144
XL     4437
S      4176
XXL    4065
Name: count, dtype: int64

üîπ Column: ship-city
 - Unique: 2603
 - Top 5:
ship-city
BENGALURU    2540
HYDERABAD    1785
NEW DELHI    1560
CHENNAI      1272
MUMBAI       1224
Name: count, dtype: int64

üìä CORRELATION MATRIX (Top Pairs Only):
ship-postal-code  Amount              0.053002
Qty               Amount              0.024336
Age               Qty                 0.017277
Qty               ship-postal-code    0.010124
ship-postal-code  Cust ID             0.005703
Age               Amount              0.003522
Qty               Cust ID             0.003359
ship-postal-code  Age                 0.001582
Cust ID           Age                 0.001286
                  Amount              0.000691
dtype: float64

BY USING transform()

In [22]:
transformed_data = assistant.transform(transformed_data, prompt="Encode the 'gender' column using LabelEncoder")

[INFO] [TRANSFORM] Prompt: Encode the 'gender' column using LabelEncoder
[DEBUG] [TRANSFORM] Generated Code:
 from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [23]:
transformed_data.head(2)
transformed_data['Gender'].unique()

array([1, 0])

How can we identify repeat customers and understand how frequently they place orders?

Problem Statement:

For each customer (Cust ID) in the dataset:
Determine whether they are a repeat customer (i.e., placed more than one order).
For repeat customers, calculate the average number of days between their purchases using the Date column.

In [24]:
transformed_data = assistant.transform(transformed_data, prompt="Create a new column _Repeat_Customer by checking if each Cust ID appears more than once in the dataset. Then, create another column called Avg_Purchase_Interval that contains the average number of days between purchases for each customer using the Date column. For customers with only one order, set Avg_Purchase_Interval to NaN.")

[INFO] [TRANSFORM] Prompt: Create a new column _Repeat_Customer by checking if each Cust ID appears more than once in the dataset. Then, create another column called Avg_Purchase_Interval that contains the average number of days between purchases for each customer using the Date column. For customers with only one order, set Avg_Purchase_Interval to NaN.
[DEBUG] [TRANSFORM] Generated Code:
 df['_Repeat_Customer'] = df.groupby('Cust ID')['Cust ID'].transform('count') > 1
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values(['Cust ID', 'Date'], inplace=True)
df['Avg_Purchase_Interval'] = df.groupby('Cust ID')['Date'].diff().dt.days
df.loc[df.groupby('Cust ID')['Cust ID'].transform('count') == 1, 'Avg_Purchase_Interval'] = np.nan

In [27]:
scalable_data_profiler(transformed_data)

üìä BASIC INFO
- Shape: (31047, 20)
- Columns: ['Order ID', 'Cust ID', 'Gender', 'Age', 'Age_Group', 'Date', 'Order_Year', 'Order_Month', 'Status', 'Channel ']...
- Memory Usage: ~4.23 MB

üîç MISSING VALUES (%):
Avg_Purchase_Interval    91.593391
dtype: float64

üßÆ UNIQUE VALUES (Top 10 Columns):
Order ID                 28471
Cust ID                  28437
SKU                       5287
ship-postal-code          4958
ship-city                 2603
Amount                     769
Age                         61
Date                        36
Avg_Purchase_Interval       28
Order_Month                 12
dtype: int64

üìà NUMERICAL STATS (Sampled if > sample_size):
                         count          mean           std       min  \
Cust ID                10000.0  4.928700e+06  2.916231e+06     895.0
Gender                 10000.0  7.004000e-01  4.581057e-01       0.0
Age                    10000.0  3.930350e+01  1.500263e+01      18.0
Order_Year             10000.0  2.022000e+03  0.000000e+00    2022.0
Qty                    10000.0  1.200000e-03  4.470749e-02       0.0
Amount                 10000.0  6.835499e+02  2.669423e+02     229.0
ship-postal-code       10000.0  4.585470e+05  1.988596e+05  110001.0
Avg_Purchase_Interval    842.0  1.193587e+00  1.339270e+01       0.0

                             25%        50%         75%        max
Cust ID                2392522.0  4890397.0  7456532.75  9999233.0
Gender                       0.0        1.0        1.00        1.0
Age                         28.0       37.0       47.00       78.0
Order_Year                2022.0     2022.0     2022.00     2022.0
Qty                          0.0        0.0        0.00        2.0
Amount                     487.0      647.0      799.00     2796.0
ship-postal-code        305001.0   500018.0   600035.00   855117.0
Avg_Purchase_Interval        0.0        0.0        0.00      215.0

üóÇÔ∏è CATEGORICAL PREVIEW:

üîπ Column: Order ID
 - Unique: 28471
 - Top 5:
Order ID
403-4984515-8861958    12
403-0173977-3041148    11
404-3701762-8241125     9
402-2997706-3326710     8
403-9984530-4477124     7
Name: count, dtype: int64

üîπ Column: Age_Group
 - Unique: 3
 - Top 5:
Age_Group
Adult       22912
Senior       5909
Teenager     2226
Name: count, dtype: int64

üîπ Column: Order_Month
 - Unique: 12
 - Top 5:
Order_Month
March       2819
February    2750
January     2702
April       2685
May         2617
Name: count, dtype: int64

üîπ Column: Status
 - Unique: 4
 - Top 5:
Status
Delivered    28641
Returned      1045
Cancelled      844
Refunded       517
Name: count, dtype: int64

üîπ Column: Channel
 - Unique: 7
 - Top 5:
Channel
Amazon      11016
Myntra       7254
Flipkart     6703
Ajio         1931
Nalli        1484
Name: count, dtype: int64

üîπ Column: SKU
 - Unique: 5287
 - Top 5:
SKU
JNE3797-KR-L      273
JNE3797-KR-M      232
JNE3797-KR-S      169
JNE3797-KR-XXL    150
JNE3797-KR-XL     149
Name: count, dtype: int64

üîπ Column: Category
 - Unique: 8
 - Top 5:
Category
Set              12391
kurta            10446
Western Dress     4066
Top               2193
Saree             1380
Name: count, dtype: int64

üîπ Column: Size
 - Unique: 11
 - Top 5:
Size
M      5485
L      5144
XL     4437
S      4176
XXL    4065
Name: count, dtype: int64

üîπ Column: ship-city
 - Unique: 2603
 - Top 5:
ship-city
BENGALURU    2540
HYDERABAD    1785
NEW DELHI    1560
CHENNAI      1272
MUMBAI       1224
Name: count, dtype: int64

üìä CORRELATION MATRIX (Top Pairs Only):
Gender                 Amount                   0.296202
ship-postal-code       Amount                   0.053002
Qty                    Amount                   0.024336
Avg_Purchase_Interval  Amount                   0.022361
Age                    Qty                      0.017277
ship-postal-code       Avg_Purchase_Interval    0.014817
Avg_Purchase_Interval  Age                      0.014736
Cust ID                Avg_Purchase_Interval    0.012017
Avg_Purchase_Interval  Gender                   0.011391
Qty                    ship-postal-code         0.010124
dtype: float64