In [1]:
import sys
import os

# Add parent directory (../) to Python's search path
sys.path.append(os.path.abspath(".."))

In [2]:
import numpy as np
import pandas as pd

DATA IMPORT

In [3]:
raw_data = pd.read_excel('/workspaces/GEN-AI-DATA-ANALYST/data/e_commerce.xlsx')

In [4]:
raw_data.head()

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,122001,IN,False

In [5]:
category_summary = {}

for col in raw_data.columns:
    unique_vals = raw_data[col].dropna().unique()
    num_unique = len(unique_vals)
    category_summary[col] = {
        "Num_Unique": num_unique,
        "Sample_Values": unique_vals[:10]  # show only first 10 for brevity
    }

# Display the results
for col, info in category_summary.items():
    print(f"\nColumn: {col}")
    print(f" - Number of Unique Categories: {info['Num_Unique']}")
    print(f" - Sample Categories: {info['Sample_Values']}")

Column: index
 - Number of Unique Categories: 31047
 - Sample Categories: [ 1  2  3  4  5  6  7  8  9 10]

Column: Order ID
 - Number of Unique Categories: 28471
 - Sample Categories: ['171-1029312-3038738' '405-2183842-2225946' '171-1641533-8921966'
 '404-7490807-6300351' '403-9293516-4577154' '407-1298130-0368305'
 '171-5561216-3398711' '408-2935263-2935550' '404-2648970-9042715'
 '408-0265357-4939534']

Column: Cust ID
 - Number of Unique Categories: 28437
 - Sample Categories: [1029312 2183842 1641533 7490807 9293516 1298130 5561216 2935263 2648970
  265357]

Column: Gender
 - Number of Unique Categories: 4
 - Sample Categories: ['Women' 'Men' 'W' 'M']

Column: Age
 - Number of Unique Categories: 61
 - Sample Categories: [44 29 67 20 62 49 23 70 75 43]

Column: Date
 - Number of Unique Categories: 36
 - Sample Categories: <DatetimeArray>
['2022-12-04 00:00:00', '2022-11-04 00:00:00', '2022-10-04 00:00:00',
 '2022-09-04 00:00:00', '2022-08-04 00:00:00', '2022-07-04 00:00:00',
 '2022-06-04 00:00:00', '2022-05-04 00:00:00', '2022-04-04 00:00:00',
 '2022-03-04 00:00:00']
Length: 10, dtype: datetime64[ns]

Column: Status
 - Number of Unique Categories: 4
 - Sample Categories: ['Delivered' 'Refunded' 'Cancelled' 'Returned']

Column: Channel
 - Number of Unique Categories: 7
 - Sample Categories: ['Myntra' 'Ajio' 'Amazon' 'Flipkart' 'Meesho' 'Others' 'Nalli']

Column: SKU
 - Number of Unique Categories: 5287
 - Sample Categories: ['JNE1233-BLUE-KR-031-XXL' 'SET414-KR-NP-L' 'SET261-KR-PP-S'
 'SET110-KR-PP-M' 'JNE2294-KR-A-XXL' 'JNE3797-KR-XXL' 'JNE3801-KR-XXL'
 'JNE3405-KR-M' 'JNE3474-KR-E-XL' 'JNE3466-KR-L']

Column: Category
 - Number of Unique Categories: 8
 - Sample Categories: ['kurta' 'Set' 'Western Dress' 'Top' 'Saree' 'Blouse' 'Ethnic Dress'
 'Bottom']

Column: Size
 - Number of Unique Categories: 11
 - Sample Categories: ['XXL' 'L' 'S' 'M' 'XL' 'XS' '3XL' 'Free' '6XL' '4XL']

Column: Qty
 - Number of Unique Categories: 7
 - Sample Categories: [1 'One' 2 4 3 'Two' 5]

Column: currency
 - Number of Unique Categories: 1
 - Sample Categories: ['INR']

Column: Amount
 - Number of Unique Categories: 769
 - Sample Categories: [ 376 1449  453  729  544  735  435  385  771  517]

Column: ship-city
 - Number of Unique Categories: 2603
 - Sample Categories: ['MOHALI' 'GURUGRAM' 'KOLKATA' 'THANJAVUR' 'SANGLI MIRAJ KUPWAD'
 'BENGALURU' 'VIJAYAWADA' 'THIRUVANANTHAPURAM' 'ARAKONAM' 'GUWAHATI']

Column: ship-postal-code
 - Number of Unique Categories: 4958
 - Sample Categories: [140301 122002 700029 613007 122001 416436 560029 562149 520002 695018]

Column: ship-country
 - Number of Unique Categories: 1
 - Sample Categories: ['IN']

Column: B2B
 - Number of Unique Categories: 2
 - Sample Categories: [False  True]

In [6]:
from genai_dataanalyst.assistant import AnalystAssistant
assistant = AnalystAssistant()

In [7]:
new_data = assistant.clean(raw_data, prompt="Standardize the 'Gender' column so that it only contains 'Men' or 'Women'. Replace 'W' with 'Women' and 'M' with 'Men'.")

[INFO] Received prompt: Standardize the 'Gender' column so that it only contains 'Men' or 'Women'. Replace 'W' with 'Women' and 'M' with 'Men'.
[DEBUG] Generated Code:
 df['Gender'] = df['Gender'].replace({'W': 'Women', 'M': 'Men'})

In [10]:
new_data.head(3)

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,700029,IN,False

In [11]:
new_data['Gender'].unique()

array(['Women', 'Men'], dtype=object)

In [12]:
raw_data['Gender'].unique()

array(['Women', 'Men', 'W', 'M'], dtype=object)